# Scrapy spider code for web crawling

In [ ]:
##init.py
import scrapy
from scrapy.contrib.spiders import CrawlSpider, Rule
from scrapy.contrib.linkextractors.sgml import SgmlLinkExtractor
from scrapy.selector import HtmlXPathSelector
from scrapy.item import Item
from scrapy.spider import BaseSpider
from scrapy import log
from mySpidy.items import MyspidyItem
from scrapy.utils.response import get_base_url
from urlparse import urljoin
import re

##retrieve title and link from xpath scrapy obj and print them at csv file 
class MyMuseumSpider(scrapy.Spider):
	name = "tate"
	allowed_domains = ["tate.org.uk"]
	start_urls = ["http://www.tate.org.uk/"]
    #call the tate museum top page


	def parse(self, response):
		base_url = get_base_url(response)
		hxs = HtmlXPathSelector(response) ##bringing xpath on spider 
		a = re.compile(r"^https?://") ##remove https:// 
		titles = hxs.select("//p") ## select words between <p></p> in html
		items = []
		for titles in titles:
			item = MyspidyItem()
			item ["title"] = titles.select("a/text()").extract()
			item ["link"] = titles.select("a/@href").extract()
			str = ''.join(item ["link"])
			print str ##print the result 
			if ( a.match(str) ):
				item ["total"] = item["link"] 
			else :
				item ["total"] = urljoin(base_url, str)
			items.append(item)
		return(items)

In [ ]:
#code in item.py in MyspidyItem package
import scrapy
from scrapy.item import Item, Field

#initializing name of link(=title) and linked address as scrapy field obj
class MyspidyItem(Item):
	title = scrapy.Field()
	link = scrapy.Field()

##### Data Crawling done 
##### *same process was executed to the top page of Asia Society museum, Gugenheim museum, Smith Sonion museum : Freer and Sackler Galleries

# Data Preparation process

## Asia Society

In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [3]:
a = pd.read_csv('/Users/bowonchung/Documents/ipython/scrapy/mySpidy/asia.csv')
a['title'].unique()

array(['Arts', 'Asia Society Museum', 'Film', 'Literature',
       'Performing Arts', 'Creative Voices of Muslim Asia', 'Education',
       'About', 'Resources', 'Policy', 'Asia Society Policy Institute',
       'Center on U.S.-China Relations', nan, 'Initiatives', 'Leadership',
       'Sustainability', 'Current Affairs', 'Topics', 'Programming',
       'Watch & Read', 'Asia Blog', 'Video Gallery', 'ChinaFile', 'Events',
       'Upcoming Events', 'Past Events', 'About Asia Society',
       'Mission & History', 'Co-Chairs and Trustees', 'Officers',
       'Global Staff', 'Experts & Fellows', 'Global Council',
       'Career Opportunities', 'Financial Statements', 'For the Media',
       'support', 'Corporate Involvement', 'Membership', 'Special Events',
       'Donate', 'New York,Museum', 'Hong Kong', 'Houston', 'Los Angeles',
       'Manila', 'Mumbai', 'San Francisco', 'Seoul', 'Shanghai', 'Sydney',
       'Washington, DC', 'Video', 'For Kids', 'AsiaStore',
       'Arts & Museum Summit', 'Asia 21 Young Leaders',
       'China Learning Initiatives', 'Global Cities Education Network',
       'Global Learning Beyond School', 'Global Competence Certificate',
       'Global Talent Initiatives', "Int'l Studies Schools Network",
       'Pacific Cities Sustainability', 'U.S.-China Museum Leaders Forum',
       'Our People', 'Become a Member', 'E-Newsletters', 'Prosperity',
       'Security', 'Central Asia', 'China', 'India', 'Iran', 'Myanmar',
       'South Asia', 'Reports', 'Commentary', 'Mission', 'How We Work',
       'Staff and Advisors', 'Network of Experts', 'Schwartz Fellows',
       'Wadsworth Fellows', 'Schwartz Book Award',
       'Founders and Supporters', 'Contact', 'About the Museum',
       'Current Exhibitions', 'Upcoming Exhibitions', 'Past Exhibitions',
       'Rockefeller Collection', 'Contemporary Art Collection',
       'Exhibitions', 'Videos', 'Mission & Approach', 'Reach & Impact',
       'Lesson Plans', 'Curriculum', 'How-to Guides', 'Publications',
       'Background Reading on Asia', 'Mapping the Nation',
       'Exchange & School Partnerships', 'Regions', 'Support Us', 'Home',
       'Projects', 'International Studies Schools Network',
       'Asia 21 Young Leaders Initiative',
       'Pacific Cities Sustainability Initiative', 'Business',
       'Environment', 'Governance', 'Beyond the Headlines',
       'Business of Asia', 'Donatetotal', 'Northern California',
       'Southern California', 'Texas', 'Washington DC', 'New York',
       'Australia', 'Philippines', 'Korea', 'Search',
       'http://t.co/umgOifXTsE',
       'http://t.co/zUnvKCWHax,http://t.co/gV8E5MaJxI',
       '#Nepal,#Everest,http://t.co/fSx8NDVB9m,#mountaineering',
       'http://t.co/71JCi1iHEZ,http://t.co/l0872A7q55'], dtype=object)

In [14]:
a['splited'] = a['link'].str.split('/')
s2 = pd.Series(a['splited']).apply(pd.Series)
s2.head() #total num of s2 = 219
#save the result as csv
s2.to_csv('asia_t.csv')

In [5]:
lists = s2.ix[(s2[0] == '')]
lists.head()
asia = lists[1].value_counts() #total num of s2[1] = 192
asia

policy-institute                         29
about                                    22
education                                18
arts                                     18
center-us-china-relations                13
support                                  12
current-affairs                           9
events                                    6
policy                                    4
new-york                                  4
initiatives                               4
video                                     3
global-learning-beyond-school             3
blog                                      3
northern-california                       3
southern-california                       2
hong-kong                                 2
korea                                     2
shanghai                                  2
india                                     2
global-talent-initiatives                 2
creative-voices-muslim-asia               2
global-staff                              2
washington-dc                             2
watch-read                                2
texas                                     2
media                                     2
philippines                               2
,                                         1
global-cities-education-network           1
china-learning-initiatives                1
node                                      1
international-studies-schools-network     1
e-mail-subscriptions                      1
inititiatives                             1
about-asia-society-museum                 1
new-york,                                 1
officers                                  1
museumleaders                             1
governance                                1
australia                                 1
museum                                    1
australasia                               1
dtype: int64

In [6]:
#art = s2.ix[(lists[1] == 'museum')|(lists[1] == 'arts')]
lists[2].unique()
#lists[2].count() #this value = 113

array([nan, 'asia-society-museum', 'film', 'literature', 'performing-arts',
       'our-mission-and-approach', 'resources', 'arts-museum-summit',
       'leadership', 'policy', 'sustainability', 'business', 'programming',
       'asia', 'past', 'mission-history-0', 'co-chairs-and-trustees',
       'officers', 'experts-and-fellows', 'global-council',
       'career-opportunities', 'financial-statements', 'media',
       'corporate-involvement', 'membership', 'special-events', 'donate',
       'arts', 'center-us-china-relations', 'chinese-language-initiatives',
       'creative-voices-muslim-asia', 'learning-world',
       'international-studies-schools-network', 'about',
       'us-china-museum-leaders-forum', 'prosperity', 'security',
       'central-asia', 'china', 'india', 'iran', 'myanmar', 'south-asia',
       'reports', 'commentary', 'mission', 'our-distinctive-approach',
       'staff-and-advisors', 'network-experts',
       'bernard-schwartz-fellows-program',
       'jack-wadsworth-fellows-program', 'bernard-schwartz-book-award',
       'founders-and-supporters', 'contact', 'exhibitions',
       'rockefeller-collection', 'contemporary-art-collection',
       'creative-voices-of-muslim-asia-resources',
       'creative-voices-of-muslim-asia-exhibitions',
       'creative-voices-of-muslim-asia-videos', 'initiatives',
       'our-reach-and-impact', 'lesson-plans', 'curriculum',
       'how-to-guides', 'publications', 'asia-101', 'mapping-nation',
       'exchange-school-partnerships', 'topics', 'regions', 'events',
       'support-us', 'projects', 'past-events', '38756', 'environment',
       'beyond-headlines', 'business-asia', 'search'], dtype=object)

In [7]:
#recategorizing the contents based since Asia society museum link category was pretty complext 
lists[3].value_counts()

asia-society-museum                         1
current                                     1
pacific-cities-sustainability-initiative    1
upcoming                                    1
past                                        1
dtype: int64

In [8]:
museum = lists.ix[(lists[2] == 'asia-society-museum')|
(lists[2] == 'film')|
(lists[2] == 'literature')|
(lists[2] == 'performing-arts')|
(lists[2] == 'resources')|
(lists[2] == 'arts-museum-summit')|
(lists[2] == 'media')|
(lists[2] == 'special-events')|
(lists[2] == 'donate')|
(lists[2] == 'arts')|
(lists[2] == 'creative-voices-muslim-asia')|
(lists[2] == 'exhibitions')|
(lists[2] == 'rockefeller-collection')|
(lists[2] == 'contemporary-art-collection')|
(lists[2] == 'creative-voices-of-muslim-asia-resources')|
(lists[2] == 'creative-voices-of-muslim-asia-exhibitions')|
(lists[2] == 'creative-voices-of-muslim-asia-videos')|
(lists[2] == 'publications')]
museum[0].count()

27

In [9]:
ml = [('asia-society-museum'),('film'),('literature'),('performing-arts'),
('resources'),
('arts-museum-summit'),
('media'),
('special-events'),
('donate'),
('arts'),
('creative-voices-muslim-asia'),
('exhibitions'),
('rockefeller-collection'),
('contemporary-art-collection'),
('creative-voices-of-muslim-asia-resources'),
('creative-voices-of-muslim-asia-exhibitions'),
('creative-voices-of-muslim-asia-videos'),
('publications')]
el =[('resources'),
     ('chinese-language-initiatives'), 
     ('learning-world'),
     ('international-studies-schools-network'),
     ('reports'),
     ('commentary'),
     ('bernard-schwartz-fellows-program'),
     ('jack-wadsworth-fellows-program'),
     ('bernard-schwartz-book-award'),
     ('our-reach-and-impact'),
     ('lesson-plans' ),
     ('curriculum'),
     ('how-to-guides'),
     ('publications')]

In [10]:
edu = lists.ix[(lists[2] == 'resources')|
               (lists[2] == 'chinese-language-initiatives')|
               (lists[2] == 'learning-world')|
               (lists[2] == 'international-studies-schools-network')|
               (lists[2] == 'reports')|
               (lists[2] == 'commentary')|
               (lists[2] == 'bernard-schwartz-fellows-program')|
               (lists[2] == 'jack-wadsworth-fellows-program')|
               (lists[2] == 'bernard-schwartz-book-award')|
               (lists[2] == 'our-reach-and-impact')|
               (lists[2] == 'lesson-plans' )|
               (lists[2] == 'curriculum')|
               (lists[2] == 'how-to-guides')|
               (lists[2] =='publications')       
               ]
#checking the amount of educational contents 
edu[1].count()

17

In [11]:
#confirm the folder name under education category 
edu[1].unique()
#array(['education', 'policy-institute', 'center-us-china-relations'], dtype=object)

array(['education', 'policy-institute', 'center-us-china-relations'], dtype=object)

In [12]:
museum[1].unique()

array(['arts', 'education', 'about', 'support', 'new-york,', 'new-york',
       'policy-institute'], dtype=object)

In [13]:
#cleansing up the rest of result data
list_o = s2.ix[(s2[0] != '')&(s2[2] != 'asiasociety.org') & (s2[2] != 'sites.asiasociety.org')]
asia_o = list_o[2].value_counts()
#need to organize links 
#asia_o

,0,1,2,3,4,5,6,7,8,9,10,11,12
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,https:,,www.chinafile.com,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,#mini-panel-homepage-tabbed-content-middle-tab-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,#mini-panel-homepage-tabbed-content-middle-tab-3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,#mini-panel-homepage-tabbed-content-middle-tab-4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,http:,,chinafile.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,http:,,kids.asiasociety.org,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,http:,,www.asiastore.org,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,http:,,www.globalcompetencecertificate.org,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,http:,,www.chinafile.com,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,http:,,www.chinafile.com,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,https:,,www.chinafile.com,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,http:,,kids.asiasociety.org,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,http:,,asiastore.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,https:,,twitter.com,AsiaSociety,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,http:,,t.co,umgOifXTsE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,http:,,t.co,"zUnvKCWHax,http:",,t.co,gV8E5MaJxI,NaN,NaN,NaN,NaN,NaN,NaN
222,https:,,twitter.com,"search?q=%23Nepal,https:",,twitter.com,"search?q=%23Everest,http:",,t.co,"fSx8NDVB9m,https:",,twitter.com,search?q=%23mountaineering
223,http:,,t.co,"71JCi1iHEZ,http:",,t.co,l0872A7q55,NaN,NaN,NaN,NaN,NaN,NaN
224,http:,,www.facebook.com,pages,Asia-Society,"13784635711,http:",,twitter.com,asiasociety,NaN,NaN,NaN,NaN

In [14]:
#selecting External URL by selective row starting 'http:'
list_t = s2.ix[(s2[2] == 't.co')]
list_t #news link

,0,1,2,3,4,5,6,7,8,9,10,11,12
220,http:,,t.co,umgOifXTsE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,http:,,t.co,"zUnvKCWHax,http:",,t.co,gV8E5MaJxI,NaN,NaN,NaN,NaN,NaN,NaN
223,http:,,t.co,"71JCi1iHEZ,http:",,t.co,l0872A7q55,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#check the rest of data and make sure they are NaN
what = list_o.ix[(list_o[0] != 'http:')&(list_o[0] != 'https:')&(list_o[0] != 'NaN')]
what
#nothing

,0,1,2,3,4,5,6,7,8,9,10,11,12
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,#mini-panel-homepage-tabbed-content-middle-tab-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,#mini-panel-homepage-tabbed-content-middle-tab-3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,#mini-panel-homepage-tabbed-content-middle-tab-4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### repeat  the same process for other museum data

## Tate Museum

In [16]:
t = pd.read_csv('/Users/bowonchung/Documents/ipython/scrapy/mySpidy/tate.csv')
t['title'].unique()
t['link'].count()

54

In [17]:
t['splited'] = t['link'].str.split('/')
t2 = pd.Series(t['splited']).apply(pd.Series)
#save the result as csv
t2.to_csv('tate_t.csv')

In [18]:
tl = t2.ix[(t2[0] != 'http:')]
tate1 = tl[1].value_counts()
tate2 = tl[2].value_counts()
#tl[3].value_counts()
#tl[4].value_counts() //level of pages 
tate2

who-we-are             4
tate-britain           4
tate-member-patron     2
our-work               2
corporate-support      2
contact-us             2
apps                   2
tate-st-ives           1
tate-liverpool         1
donate                 1
business-services      1
blogs                  1
working-at-tate        1
tate-modern            1
press-office           1
projects               1
www.khanacademy.org    1
online-resources       1
dtype: int64

In [19]:
to = t2.ix[(t2[0] == 'http:') & ( t2[2] != 'www.tate.org.uk')]
tate3 = to[2].value_counts()
tate3

shop.tate.org.uk           2
collectives.tate.org.uk    1
www.youtube.com            1
artmaps.tate.org.uk        1
kids.tate.org.uk           1
tate-images.com            1
www.facebook.com           1
twitter.com                1
dtype: int64

## Freer and Sackler gallery in Smithonion museum

In [19]:
s = pd.read_csv('/Users/bowonchung/Documents/ipython/scrapy/mySpidy/smith.csv')
s['link'].unique()
s['link'].count()

88

In [20]:
s['splited'] = s['link'].str.split('/')
s2 = pd.Series(s['splited']).apply(pd.Series)
s2.head()
#save the result as csv
s2.to_csv('Smith_t.csv')

In [22]:
sl = s2.ix[(s2[0] != 'http:')]
sl.count() #sl[0] = 78, sl[1] =77 sl[2] =76
ss = sl[1].value_counts() 
ss
#sl[2].value_counts()

collections    14
events         13
research        9
explore         8
support         8
visit           7
exhibitions     7
press           2
about           2
                2
store           1
connect         1
future          1
current         1
podcasts        1
dtype: int64

In [23]:
so = s2.ix[(s2[0] == 'http:') & (s2[2] != 'asia.si.edu')]
s_o = so[2].value_counts()
s_o
#three overlapping links 
#www.addthis.com : image use counter  
#in case of Freer |Sackler gallery, link toward smithonion museum is only in specific purpose. (visit/about)

www.flickr.com            1
www.si.edu                1
blog.asia.si.edu          1
www.addthis.com           1
www.youtube.com           1
open.asia.si.edu,http:    1
www.facebook.com          1
twitter.com               1
dtype: int64

## Solomon Guggenheim musuem

In [22]:
g = pd.read_csv('/Users/bowonchung/Documents/ipython/scrapy/mySpidy/nygug.csv')
g.count()

total         102
link          101
title         101
Unnamed: 3      1
Unnamed: 4      1
dtype: int64

In [ ]:
#split the URL by slash mark '/'
g['splited'] = g['link'].str.split('/')
g2 = pd.Series(g['splited']).apply(pd.Series)
g2.head()
#save the result as csv
g2.to_csv('gugenheim.csv')

In [26]:
#count the pages under the same parent folder in URL 
gl = g2.ix[(g2[0] != 'http:') & (g2[0] != 'https:')]
#gl.count() 

#gl[1].value_counts() 
nyg1 = gl[2].value_counts() 
#gl[3].value_counts()
#gl[4].value_counts()  #6344-guggenheim-app-named-best-in-class 
nyg1

visit                  10
about                  10
exhibitions             8
press-room              7
education               7
support                 6
online                  5
collections             5
calendar-and-events     4
                        3
collaborations          2
dtype: int64

In [ ]:
#searching the amount of external links 
go = g2.ix[(g2[0] == 'http:') & (g2[2] != 'www.guggenheimstore.org') | (g2[0] == 'https:')]
nyg_o = go[2].value_counts()
nyg_o

##### - Analysis fin -

# Rough charting in Matplotpib

In [28]:
import matplotlib as mpl
from matplotlib.colors import LinearSegmentedColormap
from matplotlib.lines import Line2D 
import matplotlib.pyplot as plt

#internal links
aa= pd.DataFrame(asia)
asia1 = list(aa.index)
asia2 = list(aa[0])
#out link
aa2= pd.DataFrame(asia_o)
asia_o1 = list(aa2.index)
asia_o2 = list(aa2[0])

data = {'asia society internal' : pd.Series(asia2, index=asia1)}
data2 = {'asia society link' : pd.Series(asia_o2, index=asia_o1)}
df = pd.DataFrame(data)
df2 = pd.DataFrame(data2)
#df = df.sort()

In [29]:
#Styling 
# Create a figure of given size
fig = plt.figure(figsize=(16,12))
a = 0.7
customcmap = [(x/24.0,  x/48.0, 0.05) for x in range(len(df))]
customcmap = [(x/24.0,  x/48.0, 0.05) for x in range(len(df2))]

## Asia Society

In [30]:
ttl = 'total contents linked at top page of Asia society'
fig, axes = plt.subplots(nrows=1, ncols=1) #later use nrows=4 for adding tate, nygug and smith
for i, c in enumerate(df.columns):
    df[c].plot(kind='barh', figsize=(12, 10), alpha =a, color=customcmap, title=ttl)
#plt.savefig('a1.png', bbox_inches='tight')

In [31]:
ttl = 'total outer links at top page of Asia society'
fig, axes = plt.subplots(nrows=1, ncols=1) #later use nrows=4 for adding tate, nygug and smith
for i, c in enumerate(df2.columns):
    df2[c].plot(kind='barh', figsize=(10, 8), alpha =a, color=customcmap,edgecolor='w', title=ttl)
#plt.savefig('a2.png', bbox_inches='tight')

## Tate Museum

In [32]:
t1 = pd.DataFrame(tate1)
t2 = pd.DataFrame(tate2)
t_o = pd.DataFrame(tate3)

t1_1 = list(t1.index)
t1_2 = list(t1[0])
t2_1 = list(t2.index)
t2_2 = list(t2[0])
to_1 = list(t_o.index)
to_2 = list(t_o[0])

data = {'tate internal toprank' : pd.Series(t1_2, index=t1_1)}
data2 = {'tate internal secondrank' : pd.Series(t2_2, index=t2_1)}
data3 = {'tate outer link' : pd.Series(to_2, index=to_1)}
pt = pd.DataFrame(data)
pt2 = pd.DataFrame(data2)
pt3 = pd.DataFrame(data3)

In [33]:
ttl = 'the First categories of links at top page of Tate museum'
fig, axes = plt.subplots(nrows=1, ncols=1) #later use nrows=4 for adding tate, nygug and smith
for i, c in enumerate(pt.columns):
    pt[c].plot(kind='barh', figsize=(8, 8), alpha =a, color=customcmap, title=ttl)
plt.savefig('t1.png', bbox_inches='tight')

In [34]:
ttl = 'the Second categories of links at top page of Tate museum'
fig, axes = plt.subplots(nrows=1, ncols=1) #later use nrows=4 for adding tate, nygug and smith
for i, c in enumerate(pt2.columns):
    pt2[c].plot(kind='barh', figsize=(8, 8), alpha =a, color=customcmap, title=ttl)
plt.savefig('t2.png', bbox_inches='tight')

In [35]:
ttl = 'the Out links at top page of Tate museum'
fig, axes = plt.subplots(nrows=1, ncols=1) #later use nrows=4 for adding tate, nygug and smith
for i, c in enumerate(pt3.columns):
    pt3[c].plot(kind='barh', figsize=(8, 8), alpha =a, color=customcmap, title=ttl)
plt.savefig('t3.png', bbox_inches='tight')

### Solomon guggenheim museum

In [36]:
g1 = pd.DataFrame(nyg1)
g_o = pd.DataFrame(nyg_o)


g1_1 = list(g1.index)
g1_2 = list(g1[0])
go_1 = list(g_o.index)
go_2 = list(g_o[0])

data = {'tate internal toprank' : pd.Series(g1_2, index=g1_1)}
data2 = {'tate outer link' : pd.Series(go_2, index=go_1)}
pg = pd.DataFrame(data)
pg2 = pd.DataFrame(data2)

In [37]:
ttl = 'the Second categories of links at top page of Solomon guggenheim museum'
fig, axes = plt.subplots(nrows=1, ncols=1) #later use nrows=4 for adding tate, nygug and smith
for i, c in enumerate(pg.columns):
    pg[c].plot(kind='barh', figsize=(8, 8), alpha =a, color=customcmap, title=ttl)
plt.savefig('g1.png', bbox_inches='tight')

In [38]:
ttl = 'the Outlinks at top page of Solomon guggenheim museum'
fig, axes = plt.subplots(nrows=1, ncols=1) #later use nrows=4 for adding tate, nygug and smith
for i, c in enumerate(pg2.columns):
    pg2[c].plot(kind='barh', figsize=(8, 8), alpha =a, color=customcmap, title=ttl)
plt.savefig('g2.png', bbox_inches='tight')

### Freer and Sackler Gallery at Smithonion museum

In [39]:
ss
s_o
s1 = pd.DataFrame(ss)
s_o = pd.DataFrame(s_o)


s1_1 = list(s1.index)
s1_2 = list(s1[0])
so_1 = list(s_o.index)
so_2 = list(s_o[0])

data = {' Freer and Sackler Gallery internal toprank' : pd.Series(s1_2, index=s1_1)}
data2 = {'Freer and Sackler Gallery outer link' : pd.Series(so_2, index=so_1)}
ps = pd.DataFrame(data)
ps2 = pd.DataFrame(data2)

In [40]:
ttl = 'the Freer and Sackler Gallery internal links in top rank categories'
fig, axes = plt.subplots(nrows=1, ncols=1) #later use nrows=4 for adding tate, nygug and smith
for i, c in enumerate(ps.columns):
    ps[c].plot(kind='barh', figsize=(8, 8), alpha =a, color=customcmap, title=ttl)
plt.savefig('s1.png', bbox_inches='tight')

In [41]:
ttl = 'the Freer and Sackler Gallery outer links (Forget about count)'
fig, axes = plt.subplots(nrows=1, ncols=1) #later use nrows=4 for adding tate, nygug and smith
for i, c in enumerate(ps2.columns):
    ps2[c].plot(kind='barh', figsize=(8, 8), alpha =a, color=customcmap, title=ttl)
plt.savefig('s2.png', bbox_inches='tight')